.navbar{
    padding: 20px;
    padding-left: 3rem;
}


.nav-item{
     padding-left: 4rem;
}

.dropdown-item{
     color: #000
}


.particle {
     position: absolute;
     background: rgba(255, 255, 255, 0.1);
     border-radius: 50%;
     animation: float 20s infinite linear;
}

.particle:nth-child(1) {
     width: 80px;
     height: 80px;
     top: 20%;
     left: 10%;
     animation-duration: 25s;
}

.particle:nth-child(2) {
     width: 120px;
     height: 120px;
     top: 60%;
     left: 80%;
     animation-duration: 30s;
}

.particle:nth-child(3) {
     width: 60px;
     height: 60px;
     top: 80%;
     left: 30%;
     animation-duration: 20s;
}

@keyframes float {
     0% {
          transform: translate(0, 0) rotate(0deg);
     }

     100% {
          transform: translate(100px, 100px) rotate(360deg);
     }
}

body{
     background-color: rgb(67, 78, 71);
}

.btn{
     padding: 16px 40px;
          background: #328836;
          color: #000;
          border: none;
          border-radius: 8px;
          font-size: 16px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
}

.btn::before {
     content: '';
     position: absolute;
     top: 0;
     left: -100%;
     width: 100%;
     height: 100%;
     background: #fdfdff;
     transition: left 0.5s;
}

.btn:hover::before {
     left: 100%;
}

